@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 14px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
  color: #2d3748;
  font-family: 'object-fit: cover;';
}

a:hover {
  border-radius: 0.25rem;
}

#tegoImage {
  background-image: url('../public/images/tego-full.png');
  width: full;
}
